@tailwind utilities;

@layer utilities {
  .border-gradient {
    background-clip: padding-box;
    position: relative;
    /* border: solid 5px transparent; */
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -4px;
      border-radius: inherit;
    }
  }
  .gradient-primary {
    @apply bg-gradient-to-r from-purple-400 to-primary-500;
  }

  .border-gradient-primary {
    @apply border-gradient before:gradient-primary;
  }

  .text-gradient-primary {
    @apply gradient-primary bg-clip-text text-transparent;
  }
}
